body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
div{
    font-size: 40px;
    padding-top: 15px;
}
h1{
    font-size: 70px;
}
section{
    text-align: center;
    margin-top: 70px;
}
.top{
    padding-top: 70px;
    padding-bottom: 200px;
}

.Next1{
    background-color: rgb(111, 111, 223);
    border-radius: 10px;
}
.Next1:hover{
    background-color: red;
}
.projects{
    background-color: rgb(27, 144, 199);
    border-radius: 10px;
    text-decoration: none;
}
.projects:hover{
    background-color: red;
}
.foot{
    background-color: black;
}
.tophead{
    color: rgb(27, 27, 70);
    display: inline-block;
    margin-top: 220px;
    text-align: center;
    
}
.projects_top{
    border-radius: 10px;
    text-align: center;
    background-color: rgb(27, 144, 199);
    text-decoration: none;
}
.projects_top_div{
    margin-top: -200px;
    margin-bottom: 200px;
}
.projects_top:hover{
    background-color: red;
}
h1.hd1_top{
    font-size: 50px;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }
@media (max-width: 400px){
    .tophead{
        font-size: 60px;
        margin-bottom: 100px;
        margin-top: 200px;
    }
    h1.hd1_top{
        font-size: 50px;
    }
    body{
        font-size: 27px;
    }
}

