body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    font-size: 40px;
    padding-top: 15px;
}
h1{
    font-size: 70px;
}
section{
    text-align: center;
    margin-top: 100px;
}
.top{
    padding-top: 70px;
    padding-bottom: 200px;
}

.Next1{
    background-color: rgb(111, 111, 223);
    border-radius: 10px;
}
.Next1:hover{
    background-color: red;
}
.projects{
    background-color: rgb(27, 144, 199);
    border-radius: 10px;
}
.projects:hover{
    background-color: red;
}
.foot{
    background-color: black;
}
.tophead{
    color: rgb(27, 27, 70);
    display: inline-block;
    margin-top: 170px;
}
