body{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0;
    margin: 10px;
    margin-left: 10px;
    overflow-x: hidden;
    margin: auto;
    
    
    
}
header{
   background-color: rgba(13,5,38,255);
   font-size: 60px;
   padding: 240px;
   text-align: center;
   margin-top: -50px;
   width: 1050px;
   display: inline-block;
   background-repeat: no-repeat;
   margin-right: -100px;
   text-align: center;
   position: relative;
    margin: auto;
   
}
section{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: white;
   padding: 40px;
   font-size: 40px;
   border-radius: 15px;


   
} 
footer{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 50px;
  font-size: 20px;
  margin-top: 300px;
  margin-left: auto;
}
li.nav{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   display: inline-block;
   margin-right: -10px;
   background-color: rgb(0, 140, 255);
   border-radius: 10px;
}
ul{
  margin-right: 100px;
  padding: 0;
  margin-top: -50px;
}
div{
  height: 70px;
  margin-top: 130px;
  text-align: center;
}
p{
  font-size: 25px;
}
h5{
  margin-top: -50;
}
li.yt{
  font-size: 25px;
  margin-right: 20px;
  margin-left: 480px;
  display: inline-block;
  
}
li.bl{
  font-size: 25px;
  margin-right: 20px;
  display: inline-block;
}
li.tw{
  font-size: 25px;
  margin-right: 20px;
  display: inline-block;
}
button{
  font-size: 30px;
  background-color: blue;
  border-color: black;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
}
li:hover{
  background-color: rgb(0, 255, 21);
  border-radius: 10px;
}
button:hover{
  background-color: rgb(9, 255, 0);
}
p.about-text{
  margin-top: -100px;
  margin-bottom: 30px;
}
h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
}
